<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <script
      src="https://kit.fontawesome.com/b46ff0cdc5.js"
      crossorigin="anonymous"
    ></script>

      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<style>
 
      @import url(
'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
        .s{
          position:relative;
          font-size: 2.4vw;
          color: #9BD7D1;
          -webkit-text-stroke: 0.1vw #383d52;
          
        }
        .s span{
          color: #325D79;
        }
        .s h2::before{
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          color: #F26627;
          -webkit-text-stroke: 0vw #blue;
          overflow:hidden;
          animation: animate 6s linear infinite;
        }
        @keyframes animate{
          0%,10%,100%{
            width: 0;
          }
          70%,90%{
            width: 100%;
          }
        }
   
</style>
  </head>

  <body>
  <div class="parent">
    {{!-- NavBar --}}
    <nav id="navbar">
      {{!-- <div id="logo">
        <img src="./images/logo.png" alt="Kapture Foods" />
      </div> --}}
      <ul>
        <li class="item">
          <a href="#home">Home</a>
        </li>
        <li class="item">
          <a href="#photos">Photos</a>
        </li>
        <li class="item">
          <a href="/signup">SIGN UP</a>
        </li>
        <li class="item">
          <a href="/login">LOG IN</a>
        </li>
      </ul>
    </nav>

    <div id="home">
      <section id="homeleft">
        <div class="slider">
           <div class="s"><h2 data-text="HUManity NGO">HUManity NGO</h2></div>
         <br>
      <div class="s">
         <span>HUMANITY UPLIFTING MANKIND!</span>
      </div>
        </div>
      </section>
      <section id="homeright">
        <img src="/images/library.png" id="homeimg" alt="">
      </section>
    </div>
    <div id="photos" class="slideshow-container" >

      <div class="mySlides fade">
        {{! <div class="numbertext">1 / 3</div> }}
        <img src="./images/ss1.jfif" style="width:100%" />
        {{! <div class="text">Caption Text</div> }}
      </div>

      <div class="mySlides fade">
        {{! <div class="numbertext">2 / 3</div> }}
        <img src="./images/ss2.jpg" style="width:100%" />
        {{! <div class="text">Caption Two</div> }}
      </div>

      <div class="mySlides fade">
        {{! <div class="numbertext">3 / 3</div> }}
        <img src="./images/ss3.jpg" style="width:100%" />
        {{! <div class="text">Caption Three</div> }}
      </div>

    </div>
    <br />

    <div style="text-align:center" class="dots" data-aos="fade-up">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
      <hr />
    <footer id="foot">
      <div class="footer-content">
        <h3>HUManity NGO</h3>
        <p>759, 13th main, 13, th main, 3rd Block, Rajajinagar, Bengaluru, Karnataka 560010
          <br>
          +(91)7998074332</p>
        <ul class="socials">

          <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
          <li><a href=""><i class="fa-solid fa-square-phone"></i></a></li>

        </ul>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2022 |All rights reserved by
          <span>Nethunt</span>
        </p>
      </div>
    </footer>
    <script src="./main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
      let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {
    slideIndex = 1;
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
    </script>
  </body>

</html>
