<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vdashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div id="imgcon">
        <img src="images/book1.png" alt="" id="vimg">
        <div id="vdetails">
            <b >Volunteer name : </b>Keshab Kataruka
            <br>
            <b >Email : </b style="color:black">keshab0121@gmail.com
        </div>
    </div>
    <div id="students" class="grid-container">
        <div id="st1" class="grid-items">
            Name : Aryan Pandey<br>
            Level : 1<br>
            Current Book : Know How?<br>
            Age : 10
        </div>
        <div id="st2" class="grid-items">
            Name : Aryan Pandey<br>
            Level : 1<br>
            Current Book : Know How?<br>
            Age : 10
        </div>
        <div id="st3" class="grid-items">
            Name : Aryan Pandey<br>
            Level : 1<br>
            Current Book : Know How?<br>
            Age : 10
        </div>
        <div id="st4" class="grid-items">
            Name : Aryan Pandey<br>
            Level : 1<br>
            Current Book : Know How?<br>
            Age : 10
        </div>
    </div>
</body>

</html>