<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vdashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div id="imgcon">
        <img src="images/book1.png" alt="" id="vimg">
        <div id="vdetails">
            <b >Volunteer name : </b>Keshab Kataruka
            <br>
            <b >Email : </b style="color:black">keshab0121@gmail.com
        </div>
    </div>
    <div id="students" class="grid-container">
        <a href="/vsdashboard" class="grid-items">
            <div id="st1">
                Name : Aryan Pandey<br>
                Level : 1<br>
                Current Book : Know How?<br>
                Age : 10
            </div>
        </a>
        <a href="/vsdashboard" class="grid-items">
            <div id="st2">
                Name : Aryan Pandey<br>
                Level : 1<br>
                Current Book : Know How?<br>
                Age : 10
            </div>
        </a>
        <a href="/vsdashboard" class="grid-items">
            <div id="st3">
                Name : Aryan Pandey<br>
                Level : 1<br>
                Current Book : Know How?<br>
                Age : 10
            </div>
        </a>
        <a href="/vsdashboard" class="grid-items">
            <div id="st4">
                Name : Aryan Pandey<br>
                Level : 1<br>
                Current Book : Know How?<br>
                Age : 10
            </div>
        </a>
    </div>
    {{!-- <div id="google_element"></div> --}}
</body>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
    function loadGoogleTranslate(){
        new google.translate.TranslateElement("google_element");
    }
</script>
</html>