<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vsdashboard.css">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <h1 class="name">Name - Aryan Pandey</h1>
        <h1 class="level">Current Level - 1</h1>
        <h1 class="curbook">Current Book - Know Who?</h1>
    </div>
    <div class="levelcolor">
        <table>
            <th class="heading">
                <h3>Level1</h3>
            </th>
            <tr class="trow">
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
            </tr>
        </table>
    </div>
    <div class="levelcolor1">
        <table>
            <th class="heading">
                <h3>Level2</h3>
            </th>
            <tr class="trow">
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata3"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
            </tr>
        </table>
    </div>
    <div class="levelcolor2">
        <table>
            <th class="heading">
                <h3>Level3</h3>
            </th>
            <tr class="trow">
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
            </tr>
        </table>
    </div>
    <div class="levelcolor3">
        <table>
            <th class="heading">
                <h3>Level4</h3>
            </th>
            <tr class="trow">
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
            </tr>
        </table>
    </div>

</body>

</html>