<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/vsdashboard.css" />
    <title>Document</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="nav">
        <h1 class="name">Name - Aryan Pandey</h1>
        <h1 class="level">Current Level - 1</h1>
        <h1 class="curbook">Current Book - Know Who?</h1>
    </div>
    <div id="google_element"></div>
    <div class="levelcolor">
        <table>
            <th class="heading">
                <h3>Level1</h3>
            </th>
            <tr class="trow">
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
            </tr>
        </table>
        <img
            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-glyph-shapes-tanah-basah-glyph-tanah-basah-69.png" />


        <img
            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-glyph-shapes-tanah-basah-glyph-tanah-basah-68.png" />


    </div>
    <div class="levelcolor1">
        <table>
            <th class="heading">
                <h3>Level2</h3>
            </th>
            <tr class="trow">
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata"></td>
                <td class="tdata3"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
            </tr>
        </table>
        <img
            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-glyph-shapes-tanah-basah-glyph-tanah-basah-69.png" />


        <img
            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-glyph-shapes-tanah-basah-glyph-tanah-basah-68.png" />
    </div>
    <div class="levelcolor2">
        <table>
            <th class="heading">
                <h3>Level3</h3>
            </th>
            <tr class="trow">
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
            </tr>
        </table>
    </div>
    <div class="levelcolor3">
        <table>
            <th class="heading">
                <h3>Level4</h3>
            </th>
            <tr class="trow">
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
                <td class="tdata2"></td>
            </tr>
        </table>
    </div>
    <br>
    <div id="read">
        <table class="tdata1">
            <caption>
                <h4>Books read by the student</h4>
            </caption>
            <tr>
                <th>Name of book</th>
                <th>Genre</th>
                <th>Level</th>
            </tr>
            <tr>
                <td>
                    Book1
                </td>
                <td>
                    Fiction
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    Book2
                </td>
                <td>
                    Science
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    Book3
                </td>
                <td>
                    Stories
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    Book4
                </td>
                <td>
                    Facts
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    Book5
                </td>
                <td>
                    Facts
                </td>
                <td>
                    1
                </td>
            </tr>
        </table>

    </div>


    <div id="piechart" style="width: 900px; height: 500px;"></div>

    <div class="recommended">

        <h3 style="text-align: center ;">Recommended Books for the student</h3>

        <div class="features" data-aos="fade-up">




            <ul id="ful" style="display:flex ; justify-content: center; ">

                <li class="fli"><img class="fimg" src="./images/r1.png" alt="" /><br><br>&nbsp;Harry Potter</li>
                <li class="fli"><img class="fimg" src="./images/r2.png" alt="" /><br><br>Know Why?</li>
                <li class="fli"><img class="fimg" src="./images/r3.png" alt="" /><br><br>&nbsp;Physics</li>
                <li class="fli"><img class="fimg" src="./images/r4.png" alt="" /><br><br>Matilda</li>
                <li class="fli"><img class="fimg" src="./images/r5.png" alt="" /><br><br>Chemical bond</li>
            </ul>
        </div>
        {{!-- <div class="features" data-aos="fade-up">
            <ul id="ful" style="display:flex ; justify-content: center; ">
                <li class="fli"><img class="fimg" src="./images/" alt="" /><br><br></li>
                <li class="fli"><img class="fimg" src="./images/" alt="" /><br><br></li>
                <li class="fli"><img class="fimg" src="./images/" alt="" /><br><br></li>
                <li class="fli"><img class="fimg" src="./images/" alt="" /><br><br></li>
                <li class="fli"><img class="fimg" src="./images/" alt="" /><br><br></li>
            </ul>
        </div> --}}
    </div>
    <footer id="foot">
        <div class="footer-content">
            <h3>Humanity NGO</h3>
            <p>759, 13th main, 13, th main, 3rd Block, Rajajinagar, Bengaluru, Karnataka 560010
                <br>
                +(91)xxxxxxxxx
            </p>
            <ul class="socials">

                <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                <li><a href=""><i class="fa-solid fa-square-phone"></i></a></li>

            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2022 |All rights reserved by
                <span>CoDev</span>
            </p>
        </div>
    </footer>
</body>
<script src="/vsdashboard.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Genre', 'Books read per genre'],
            ['Science', 1],
            ['Fiction', 1],
            ['Stories', 1],
            ['Facts', 2],
            ['Environment', 0]
        ]);

        var options = {
            title: 'Statistics of books read'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
    function loadGoogleTranslate() {
        new google.translate.TranslateElement("google_element");
    }
</script>

</html>